# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log*

# Ignore logs
logs
*.log

# Ignore yarn error logs
yarn-error.log

# Ignore .env files containing environment variables
.env

# Ignore IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
